---
layout: landingAd
title: Landing Ad 
description: Acklen Avenue Blog | Stories About Design, App Development & Strategy
---

<header class="page-header">
	{% include menu.html %}

	<h1>You clicked on our Ad!</h1>
	
</header>

<main>
	<section class="ad-testimonials-wrapper">
		<article class="ad-testimonial-item">
			<header>
				<h2>Acklen is pretty much a Slinky!</h2>
			</header>
			<main>
				<div class="headshot">
					<img src="img/kerri-davis.jpg" alt="Kerri Davis">
				</div><!-- HEADSHOT-->
				
				<div class="author">
					<div class="title">
						<h3>Kerri Davis</h3>
						<h4>COO, Elmington Technologies</h4>
					</div><!--TITLE-->
					<div class="company">
						<img src="img/elmington.svg" alt="Elmington">
					</div><!--COMPANY-->
				</div><!-- AUTHOR-->
				

				<div class="pain-points">
					<span class="points-label">Pain Points Addressed:</span>
					<span>
						<img class="green-check" src="img/green-check.svg" alt="Green Check">
						  Trusted Partner, Flexible Structure</span>
				</div><!--PAIN POINTS-->
				<cite>
					“Outsourcing is difficult, but in 90 days with Acklen, they felt like a true extension of our team. Now, after 2 years together, I can't imagine working with a team with higher work ethic, more productivity, better knowledge or a more thoughtful, intentional and flexible structure, from which I have learned so much.”
				</cite>	
			</main>
		</article>

		<article class="ad-testimonial-item">
			<header>
				<h2>Acklen became our Trusted Partner</h2>
			</header>
			<main>
				<div class="headshot">
					<img src="img/josh-bowling.jpg" alt="Josh Bowling">
				</div><!-- HEADSHOT-->
				
				<div class="author">
					<div class="title">
						<h3>Josh Bowling</h3>
						<h4>VP Finance & Operations, Splitscnd</h4>
					</div><!--TITLE-->
					<div class="company">
						<img src="img/splitscnd.png" alt="Splitscnd">
					</div><!--COMPANY-->
				</div><!-- AUTHOR-->
				

				<div class="pain-points">
					<span class="points-label">Pain Points Addressed:</span>
					<span>
						<img class="green-check" src="img/green-check.svg" alt="Green Check">
						Expertise, Trusted Partner, Provides Value ASAP</span>
				</div><!--PAIN POINTS-->
				<cite>
					“If you need someone who is well versed in software engineering to come alongside your team and work with you to get a software product to market then Acklen Avenue is your team. They’re better than any outsourced arrangement I have ever seen.”
				</cite>	
			</main>
		</article>
	</section><!-- AD TESTIMONIALS WRAPPER-->

	<section id="our-expertise">
		<h3>Our Expertise</h3>
		<ul>
			<li>
				<figure>
					<img src="img/rocket.svg" alt="Rocket">
				</figure>
				<div class="title">
					<h4>Custom Software Development</h4>
				</div><!-- TITLE-->
			</li>

			<li>
				<figure>
					<img src="img/devices.svg" alt="Devices">
				</figure>
				<div class="title">
					<h4>Mobile Development</h4>
				</div><!-- TITLE-->
			</li>

			<li>
				<figure>
					<img src="img/user-heart.svg" alt="User Centric">
				</figure>
				<div class="title">
					<h4>User Centric UX</h4>
				</div><!-- TITLE-->
			</li>

			<li>
				<figure>
					<img src="img/api.svg" alt="API">
				</figure>
				<div class="title">
					<h4>Integrations, APIs</h4>
				</div><!-- TITLE-->
			</li>

			<li>
				<figure>
					<img src="img/platform.svg" alt="Platform">
				</figure>
				<div class="title">
					<h4>Platform Refacts, Rebuilds</h4>
				</div><!-- TITLE-->
			</li>

			<li>
				<figure>
					<img src="img/cube.svg" alt="Cube">
				</figure>
				<div class="title">
					<h4>Platform Customizations</h4>
				</div><!-- TITLE-->
			</li>
		</ul>
	</section>
	
	<section class="landing-tech-stack">
		{% include techStack.html %}
	</section>
	
	<section id="industry-experience">
		<div class="wrapper">
			<div class="section-title">
				<h3>Industry 
					<span class="big">Experience</span>
					</h3>
				<p>I’ll come back to you tomorrow after lunch with more copy!</p>
			</div><!--SECTION TITLE-->
			
			<ul>
				<li>
					<figure>
						<img src="img/finance.svg" alt="Finance">
					</figure>
					<div class="title">
						<h4>Finance</h4>
					</div><!-- TITLE-->
				</li>

				<li>
					<figure>
						<img src="img/healthcare.svg" alt="Healthcare">
					</figure>
					<div class="title">
						<h4>Healthcare</h4>
					</div><!-- TITLE-->
				</li>

				<li>
					<figure>
						<img src="img/iot.svg" alt="Internet of THings">
					</figure>
					<div class="title">
						<h4>IOT</h4>
					</div><!-- TITLE-->
				</li>

				<li>
					<figure>
						<img src="img/cloud-server.svg" alt="Cloud Server">
					</figure>
					<div class="title">
						<h4>Enterprise SaaS</h4>
					</div><!-- TITLE-->
				</li>

				<li>
					<figure>
						<img src="img/real-estate.svg" alt="Real Estate">
					</figure>
					<div class="title">
						<h4>Real Estate</h4>
					</div><!-- TITLE-->
				</li>

				<li>
					<figure>
						<img src="img/e-commerce.svg" alt="Shopping Cart">
					</figure>
					<div class="title">
						<h4>e-Commerce</h4>
					</div><!-- TITLE-->
				</li>
			</ul>
		</div><!--WRAPPER-->
	</section>
	<section id="landing-cta">
		<div class="wrapper">
			<div class="section-title">
				<h3>The final  
					<span class="big">Punchline</span>
					</h3>
				<p>I’ll come back to you tomorrow after lunch with more copy!</p>
			</div><!-- SECTION TITLE-->
			<div class="form-column">
				<div id="form-container" class="contact-form">
					<form id="contact-form">
						<div class="flex-direction">
							<input class="form-modal-input flex-100" type="text" id="contact-name" placeholder="Name" />	
						</div>
						<div class="flex-direction">
							<input class="form-modal-input flex-100" type="email" id="contact-email" placeholder="Email Address" required />
						</div>
						<div class="flex-direction">
							<input class="form-modal-input flex-100" type="text" id="company" placeholder="Company" required />
						</div>
						
						
						<div class="flex-direction recapcha-wrapper">
							<div class="g-recaptcha" data-sitekey="6Lfu-IwUAAAAACVD4AVFXgZLfwKZWHdupxAwDiSH" data-callback="recapchaCallback"></div>
						</div>
			
						<div class="">
							<input id="button-form" type="submit" value="Contact Us" class="btn btn--apple hvr-ripple-out"/>
						</div>
					</form>
				</div><!-- FORM CONTAINER-->
			</div><!-- FORM COL-->
		</div><!--WRAPPER-->
	</section>
</main>
