---
layout: landingAd
title: Acklen Avenue One Pager
description: Your partners in building powerful apps users love.
---

<header class="page-header landing b-side">
	{% include menu.html %}
	<div class="pager intro">
		<div class="pager sticker">
			<img src="img/heart-sticker.svg" alt="Green Pixel Heart">
		</div><!-- STICKER -->
		<div class="pager headline">
			<h1>Your partners in building powerful apps users love.</h1>
			<h2>Agile development teams that partner seamlessly, and deliver value relentlessly.</h2>
		</div><!-- HEADLINE-->
	</div><!-- PAGER INTRO -->
	
	
	<div class="cta b-side">
		<a class="btn hvr-ripple-out btn--apple" href="#contact-form"">See the Impact</a>
	</div><!--CTA-->
	
</header>

<main>
	<section id="our-expertise" class="b-side">
		<h3>Our Expertise</h3>
		<p>Acklen Avenue builds custom software applications for ambitious companies ranging from Fortune 500s to high-growth funded startups.</p>
		<ul>
			<li>
				<figure>
					<img src="img/rocket.svg" alt="Rocket">
				</figure>
				<div class="title">
					<h4>Custom Software Development</h4>
				</div><!-- TITLE-->
			</li>

			<li>
				<figure>
					<img src="img/devices.svg" alt="Devices">
				</figure>
				<div class="title">
					<h4>Mobile Development</h4>
				</div><!-- TITLE-->
			</li>

			<li>
				<figure>
					<img src="img/user-heart.svg" alt="User Centric">
				</figure>
				<div class="title">
					<h4>User Centric UX</h4>
				</div><!-- TITLE-->
			</li>

			<li>
				<figure>
					<img src="img/api.svg" alt="API">
				</figure>
				<div class="title">
					<h4>Integrations, APIs</h4>
				</div><!-- TITLE-->
			</li>

			<li>
				<figure>
					<img src="img/platform.svg" alt="Platform">
				</figure>
				<div class="title">
					<h4>Platform Refacts, Rebuilds</h4>
				</div><!-- TITLE-->
			</li>

			<li>
				<figure>
					<img src="img/cube.svg" alt="Cube">
				</figure>
				<div class="title">
					<h4>Platform Customizations</h4>
				</div><!-- TITLE-->
			</li>
		</ul>
	</section>
	
	<section class="landing-tech-stack">
		{% include techStack.html %}
	</section>
	
	<section id="industry-experience">
		<div class="wrapper">
			<div class="section-title">
				<h3>Industry 
					<span class="big">Experience</span>
					</h3>
				<p>We focus on solving complex problems across industries by adapting to your individual challenges.</p>
			</div><!--SECTION TITLE-->
			
			<ul>
				<li>
					<figure>
						<img src="img/finance.svg" alt="Finance">
					</figure>
					<div class="title">
						<h4>Finance</h4>
					</div><!-- TITLE-->
				</li>

				<li>
					<figure>
						<img src="img/healthcare.svg" alt="Healthcare">
					</figure>
					<div class="title">
						<h4>Healthcare</h4>
					</div><!-- TITLE-->
				</li>

				<li>
					<figure>
						<img src="img/iot.svg" alt="Internet of THings">
					</figure>
					<div class="title">
						<h4>IOT</h4>
					</div><!-- TITLE-->
				</li>

				<li>
					<figure>
						<img src="img/cloud-server.svg" alt="Cloud Server">
					</figure>
					<div class="title">
						<h4>Enterprise SaaS</h4>
					</div><!-- TITLE-->
				</li>

				<li>
					<figure>
						<img src="img/real-estate.svg" alt="Real Estate">
					</figure>
					<div class="title">
						<h4>Real Estate</h4>
					</div><!-- TITLE-->
				</li>

				<li>
					<figure>
						<img src="img/e-commerce.svg" alt="Shopping Cart">
					</figure>
					<div class="title">
						<h4>e-Commerce</h4>
					</div><!-- TITLE-->
				</li>
			</ul>
		</div><!--WRAPPER-->
	</section>

	<section class="ad-testimonials-wrapper b-side">
		<h3>What Our Clients Say</h3>
		<article class="ad-testimonial-item">
			<header>
				<h2>Acklen became our 
					<span class="big">Trusted Partner</span>
				</h2>
			</header>
			<main>
				<div class="headshot">
					<img src="img/kerri-davis.jpg" alt="Kerri Davis">
				</div><!-- HEADSHOT-->
				
				<div class="author">
					<div class="title">
						<h3>Kerri Davis</h3>
						<h4>President, Fortress Technologies</h4>
					</div><!--TITLE-->
					<div class="company">
						<a href="https://www.fortresstech.net/" target="_blank">
							<img src="img/fortress-logo.png" alt="Fortress Technologies">
						</a>
					</div><!--COMPANY-->
				</div><!-- AUTHOR-->
								
				<cite>
					“Outsourcing is difficult, but in 90 days with Acklen, they felt like a true extension of our team. Now, after 2 years together, I can't imagine working with a team with higher work ethic, more productivity, better knowledge or a more thoughtful, intentional and flexible structure, from which I have learned so much.”
				</cite>
				<div class="project-feats">
					<span class="label">Project Description:</span>
					<ul>
						<li>
							<img src="img/rocket.svg" alt="Rocket">
							<span> Custom App Development</span>
						</li>
						<li>
							<img src="img/user-heart.svg" alt="User Centric">
							<span>User Centric UX</span>
						</li>
					</ul>
				</div><!--PROJECT FEATS-->
			</main>
		</article>

		<article class="ad-testimonial-item">
			<header>
				<h2>Acklen became an 
					<span class="big">Extension of Our Team</span>
				</h2>
			</header>
			<main>
				<div class="headshot">
					<img src="img/josh-bowling.jpg" alt="Josh Bowling">
				</div><!-- HEADSHOT-->
				
				<div class="author">
					<div class="title">
						<h3>Josh Bowling</h3>
						<h4>VP Finance & Operations, Splitscnd</h4>
					</div><!--TITLE-->
					<div class="company">
						<a href="https://splitsecnd.com/" target="_blank">
							<img src="img/splitscnd.png" alt="Splitscnd">
						</a>
					</div><!--COMPANY-->
				</div><!-- AUTHOR-->
				

				
				<cite>
					“If you need someone who is well versed in software engineering to come alongside your team and work with you to get a software product to market then Acklen Avenue is your team. They’re better than any outsourced arrangement I have ever seen.”
				</cite>	
				<div class="project-feats">
					<span class="label">Project Description:</span>
					<ul>
						<li>
							<img src="img/rocket.svg" alt="Rocket">
							<span> Custom App Development</span>
						</li>
						<li>
							<img src="img/devices.svg" alt="User Centric">
							<span>Mobile Development</span>
						</li>
						<li>
							<img src="img/iot-purple.svg" alt="User Centric">
							<span>Internet of Things</span>
						</li>
					</ul>
				</div><!--PROJECT FEATS-->
			</main>
		</article>
	</section><!-- AD TESTIMONIALS WRAPPER-->

	<section id="landing-cta">
		<div class="cta-cue">
			<img src="img/continuous.svg" alt="Continuous Delivery">
		</div><!--CUE CTA -->
		
		<div class="wrapper" id="contact-form">		
			<div class="section-title">
				<p>Looking for consistent delivery of quality software?</p>
				<h3>You came to the   
					<span class="big">Right Place</span>
				</h3>
				
			
			</div><!-- SECTION TITLE-->
			<div class="form-column">
				<div id="form-container" class="contact-form">
					<form onsubmit="sendEmail(); return false;">
						<div class="flex-direction">
							<input class="form-modal-input flex-100" type="text" id="contact-name" placeholder="Name" />	
						</div>
						<div class="flex-direction">
							<input class="form-modal-input flex-100" type="email" id="contact-email" placeholder="Email" required />
						</div>
						<div class="flex-direction">
							<input class="form-modal-input flex-100" type="tel" id="telephone" placeholder="Phone Number" required />
						</div>
						<div class="flex-direction">
							<textarea class="form-modal-input flex-100" rows="3" id="contact-message" placeholder="Any details on the work you wish to share? (Optional)"></textarea>
						</div>
						
						
						<div class="flex-direction recapcha-wrapper">
							<div class="g-recaptcha" data-sitekey="6Lfu-IwUAAAAACVD4AVFXgZLfwKZWHdupxAwDiSH" data-callback="recapchaCallback"></div>
						</div>
			
						<div style="display: flex; justify-content: center;">
							<input id="button-form" class="btn hvr-ripple-out btn--apple" type="submit" value="Contact Us" class="btn btn--apple hvr-ripple-out"/>
						</div>
					</form>
				</div><!-- FORM CONTAINER-->
				<div class="form-success">
					<div class="success-art">
						<img src="img/high-five.svg" alt="High Five Hands">
						<span class="title">High Five!</span>
						<p>We got your message, <br> 
						you'll hear from us soon!</p>
					</div><!-- HIGH FIVE-->
				</div><!-- SUCCESS-->
			</div><!-- FORM COL-->
		</div><!--WRAPPER-->
		<script>
			var sendEmail = function() {
				var contactName = $('#contact-name').val();
				var contactEmail = $('#contact-email').val();
				var telephone = $('#telephone').val();
				var contactMessage = $('#contact-message').val();
				$.ajax({
					type: "POST",
					url: "https://u2fh5qg9k7.execute-api.us-east-1.amazonaws.com/production/send-email",
					data: JSON.stringify({message: `Name: ${contactName}, Email: ${contactEmail}, Phone: ${telephone}, Project Details: ${contactMessage}`}),
					contentType: "application/json; charset=utf-8",
					dataType: "json",
				});
				$('.form-success').fadeIn(1000);
			}
		</script>
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script>
			window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')
		</script>
	</section>
</main>
