<section id="courses">
  <div class="course">
    <div class="course__content flex-50">
      <h2>Remote Professional Course</h2>
      <p><i>After taking this course, you'll be in the right position to join a remote agile development team and start gathering experience.</i></p>
      <div class="course__description">
        <div class="flex-33">
          <p>To enroll click here</p>
        </div>
      </div>
      <p><a class="btn hvr-ripple-out btn--apple" target="_blank"
        href="https://docs.google.com/forms/d/e/1FAIpQLSeQbjKwJ8rld1bks-3gQ_KZRN4qWKn5YBA_fm4R2HWUMx-WyA/viewform?usp=sf_link">Enroll Now</a>
      </p>
      <div>
        <p>or contact careers@acklenavenue.com</p>
      </div>
    </div>
    <div class="course__photo flex-50">
      &nbsp;
    </div>
  </div>
</section>
