
<div id="job-description">       
    <section class="text-block">
        <div class="jobPost__description flex-25">
            <div class="flex-25 jobPost__description__column">
                <span><img class="jobPost__description__icon" src="../img/remote-job.svg" alt=""></span>
                <span>Remote - Honduras</span>
            </div>
            <div class="flex-25 jobPost__description__column">
                <span><img class="jobPost__description__icon" src="../img/full-time-job.svg" alt=""></span>
                <span>Full Time</span>
            </div>
            <div class="flex-25"></div>
            <div class="flex-25"></div>
        </div>
    </section>
    <section class="text-block">
        <h2>Description</h2>
        <p class="text-block--two-columns">
            About the Software Developer position. We are looking for a Software Developer who will assist us with design, development, and implementation of software solutions. 
            Your duties will include planning, writing code, testing, and documenting functionality. You should be able to build high-quality, innovative and fully performing software in compliance with Acklen Avenue's coding standards and development practices.
        </p>
    </section>
    <section class="text-block">
            <h3>Software Developer responsibilities are:</h3>
            <ul class="check">
                <li><span>Organize full lifecycle software development</span></li>
                <li><span>Prepare specifications and determine operational feasibility</span></li>
                <li><span>Write well designed, testable, efficient code</span></li>
                <li><span>Prepare software verification plans and quality assurance procedures</span></li>
                <li><span>Integrate software components into a fully functional software system</span></li>
                <li><span>Evaluate and deploy software tools, processes and metrics</span></li>
                <li><span>Provide support and consulting on software systems usage</span></li>
                <li><span>Ensure compliance with project plans and industry standards</span></li>
                <li><span>Mentor other developers.</span></li>
            </ul>  
    </section>
    <section class="text-block">
        <h3>Software Developer requirements are:</h3>
        <ul class="check">
            <li><span>2+ years' experience of working on a Computer Software Engineer or Software Developer position</span></li>
            <li><span>Significant experience in developing web applications using at least one popular web</span></li>
            <li><span>Excellent knowledge of Relational Databases, SQL and ORM technologies</span></li>
            <li><span>Good experience in designing interactive applications and with test-driven development</span></li>
            <li><span>Good knowledge to develop software in JavaScript, C#, Python, Ruby, PHP or Java.</span></li>
            <li><span>Experience in documenting requirements and specifications</span></li>
            <li><span>Close familiarity with software engineering tools, software development methodology, and release processes</span></li>
            <li><span>BS degree in Computer Science or Engineering (or equivalent experience)</span></li>
        </ul>
    </section>
</div> 
{% include callToAction__jobDescription.html %}
 