<section id="perkstitles">
    <h2>External Perks</h2>
    <p>Here you'll find a list of the perks that come with being an Acklener/Hero.</p>

</section>
<section id="perks">
	<div class="card-container">
		<div class="card">
			<div class="front">
				<div class="card-img">
                    <h1>20%</h1>
					<p>Off Rooms and Co-work</p>
				</div>
				<div class="card-body">
                    <img src="/img/perks/connectcowork-logo.svg" alt="Connectcowork logo">
				</div>
			</div>
			<div class="back">
                <p class="p-backcard">Get discounts on the different rooms and offices in Connect Cowork, a space designed for the online worker.
                    <br><a href="https://connectcowork.com/" target="_blank">Go to Webpage</a>
                </p>
			</div>
		</div>
    </div>
    <div class="card-container">
		<div class="card">
			<div class="front">
				<div class="card-img">
					<img class="img-icon" src="/img/perks/diamond-icon.svg" alt="Diamond Icon">
					<p>Diamond Membership</p>
    
				</div>
				<div class="card-body">
                    <img src="/img/perks/pricesmart-logo.svg" alt="Pricesmart Logo">
				</div>
			</div>
			<div class="back">
				<p class="p-backcard">1 year of free membership !
					<br><a href="https://www.pricesmart.com/site/hn/es/catalogo" target="_blank">Go to Webpage</a>
				</p>
			</div>
		</div>
    </div>
    <div class="card-container">
		<div class="card">
			<div class="front">
				<div class="card-img">
					<img class="img-icon" src="/img/perks/executive-icon.svg" alt="Executive Icon" />
					<p>Executive Fares</p>
				</div>
				<div class="card-body">
					<img src="/img/perks/holidayinn-logo.svg" alt="Holidayinn Logo">
				</div>
			</div>
			<div class="back">
				<p class="holidayinn-text">
					<b>HOLIDAY INN TGU</b><br>
					<i>Monday - Thursday</i><br>
					- Single Standard <b>$80</b><br>
				    - Double Standard <b>$90</b><br>
					<i>Friday - Sunday</i><br>
					- Single Standard <b>$69</b><br>
					- Double Standard <b>$79</b><br>
					
					<b>HOLIDAY INN SPS</b><br>
					- Single Standard <b>$70</b><br>
					- Double Standard <b>$80</b><br>
					- Junior Suite <b>$110</b><br>
					</p>
			</div>
		</div>
    </div>
    <div class="card-container">
		<div class="card">
			<div class="front">
				<div class="card-img">
					<h1>20%</h1>
					<p>Off Meeting Rooms</p>
				</div>
				<div class="card-body">
					<img class="nh-img" src="/img/perks/nhbc-logo.svg" alt="Nuevos Horizontes Logo" >
				</div>
			</div>
			<div class="back">
				<p class="p-backcard">Nuevos Horizontes Business Center offers Acklen Avenue employees a discount on coworking spaces.
					<br><a href="http://nuevoshorizontes.com/businesscenter/" target="_blank">Go to Webpage</a>
				</p>
			</div>
		</div>
    </div>
</section>
<section id="perkstitles">
    <h2>Internal Perks</h2>
    <p>Ackleners and Heroes also get these Perks exclusively offered from us to you. </p>
</section>
<section id="perks">
    <div class="card-container">
		<div class="card">
			<div class="front">
				<div class="card-img">
					<img class="img-icon" src="/img/perks/medicalstaff-icon.svg" alt="Insurance Icon" />
					<p>Medical Care</p>
				</div>
				<div class="card-body">
					<img src="/img/perks/hmedicalcare-logo.svg" alt="Honduras Medical Care Logo">
				</div>
			</div>
			<div class="back">
				<p class="p-backcard">Prepaid Medicine is a service offered by the Honduras Medical Center, focused on health; oriented to provide you with all the benefits of preventive and curative medicine, which allows you to access them in the most comfortable and easy way. 
					<br>
					<a href="https://drive.google.com/file/d/0B8UeRXN4Aa8BS2plQWd1RExUV0N4SkNkcWNpTjk2cFVLTV80/view" target="_blank">
						<img class="docs-icon" src="/img/perks/gdocs-icon.svg">
					</a>	
				</p>
			</div>
		</div>
    </div>
    <div class="card-container">
		<div class="card">
			<div class="front">
				<div class="card-img">
					<img class="img-icon" src="/img/perks/growtogether-icon.svg" alt="Grow Together Icon" />
					<p>Let's grow together!</p>
				</div>
				<div class="card-body">
					<h3>Refer a friend Program</h3>
				</div>
			</div>
			<div class="back">
				<p class="p-backcard">Great talent can be found everywhere! Sometimes it's a close friend. Earn $100 USD when referring a friend to come to work with us.
					<br>
					<a href="https://docs.google.com/document/d/13_1O0d-ZrHtCroe5fUx7mftVhy-rsuqRPiH2-liegbM/edit" target="_blank">
						<img class="docs-icon" src="/img/perks/gdocs-icon.svg">
					</a>
				</p>
			</div>
		</div>
    </div>
    <div class="card-container">
		<div class="card">
			<div class="front">
				<div class="card-img">
					<img class="img-icon" src="/img/perks/training-icon.svg" alt="Training Icon" />
					<p>Level up!</p>
				</div>
				<div class="card-body">
					<h3>Training Platforms</h3>
				</div>
			</div>
			<div class="back">
				<p class="p-backcard">Looking to improve your skills while still working hands on deck? We got you! We are currently enrolled in platforms that help develop your skills as a professional. </p>
			</div>
		</div>
    </div>
    <div class="card-container">
		<div class="card">
			<div class="front">
				<div class="card-img">
					<img class="img-icon" src="/img/perks/pathway-icon.svg" alt="Pathway Icon" />
					<p>Professional growth.</p>
				</div>
				<div class="card-body">
					<img  src="/img/perks/ccp-logo.svg" alt="Comprehensive Carreer Pathway">
				</div>
			</div>
			<div class="back">
				<p class="p-backcard">A set of career paths to level up!</p>
			</div>
		</div>
    </div>
    <div class="card-container">
		<div class="card">
			<div class="front">
				<div class="card-img">
					<img class="img-icon" src="/img/perks/laptop-icon.svg" alt="Laptop Icon" />
					<p>Purchase Assistance!</p>
				</div>
				<div class="card-body">
					<h3>A / A Computer Purchase Assistance Program</h3>
				</div>
			</div>
			<div class="back">
				<p class="p-backcard">For those team members who are in need of a better computer to help them succeed in their job responsibilities, Acklen Avenue offers some assistance in the purchase of such a computer.
					<br>
					<a href="https://docs.google.com/document/d/1xv1AEPF9WNr_FQ3EMcibM65homB5GZ9MCR7U1LKVb1M/edit#" target="_blank">
						<img class="docs-icon" src="/img/perks/gdocs-icon.svg">
					</a>
				</p>
			</div>
		</div>
    </div>
</section>

<section id="perkstitles">
	<h3 class="h3-download">Download the Perks document for full information</h3>
	<a class="btn btn--apple" data-modal="modal-13" href="https://drive.google.com/file/d/16RaVyeY-Xu7oOkrpHasLc9Ak9phUo9uG/view?usp=sharing" target="_blank">Employee Perks</a><br><br>
</section> 

<!-- 

	
-->
