
<div class="hero-header">
	<p class="first-sentence">Complete agile teams</p>
	<p class="last-sentence"><span> as a service that</span></p>
		<div class="hero-header__phrase hero-animate-words hero-words">
			<span>Spin up seamlessly</span>
			<span>Partner collaboratively</span>
			<span>Deliver value relentlessly</span>
		</div>
	 

	<h1 class="header-secondary-title">We craft custom web and mobile applications at the speed of opportunity, for innovators who want to get stuff done.</h1>
	<a class="btn hvr-ripple-out btn--apple md-trigger"  data-modal="modal-13">Let's create together</a>
	<a href="#StressFreeWizardry"><img class="down-arrow" src="img/triangle.svg" alt="Down Arrow"></a>
</div>
