{% assign job_openings = site.job_openings | where:"hidden", false %}

<section id="jobs">
    <h2>We're always looking for</h2>
    {% if job_openings == empty %}
        <div class="noPost">
            <p>
                There are no job offers available at this moment, but you can send us your contact information
                <a href="mailto:&#105;&#110;&#102;&#111;&#064;&#097;&#099;&#107;&#108;&#101;&#110;&#097;&#118;&#101;&#110;&#117;&#101;&#046;&#099;&#111;&#109;;">
                    &#105;&#110;&#102;&#111;&#064;&#097;&#099;&#107;&#108;&#101;&#110;&#097;&#118;&#101;&#110;&#117;&#101;&#046;&#099;&#111;&#109;
                </a>
            </p>
        </div>
        {%else%}
        {% for job_opening in job_openings %}
            {% assign salaryRange = job_opening.salaryRange | strip %}
            <div class="jobPost">
                <div class="jobPost__content flex-75">
                    <a href="{{ job_opening.url | prepend: base_url }}">
                        <h3>{{ job_opening.title | replace: "| Acklen Avenue", "" }}</h3>
                    </a>
                    <div class="jobPost__description">
                        <div class="flex-25 jobPost__description__column">
                            <span><img alt="" class="jobPost__description__icon" src="../img/remote-job.svg"/></span>
                            <span>{{ job_opening.location }}</span>
                        </div>
                        <div class="flex-25 jobPost__description__column">
                            <span><img alt="" class="jobPost__description__icon" src="../img/{% if job_opening.time == 'Full Time' %}full{% else %}half{% endif %}-time-job.svg"/></span>
                            <span>{{ job_opening.time }}</span>
                        </div>
                        {% if salaryRange != '' %}
                          <div class="flex-25 jobPost__description__column">
                              <span>
                                  <img alt="" class="jobPost__description__icon" src="/img/salary-range.svg"/>
                              </span>
                              <span>{{ salaryRange }}</span>
                          </div>
                          <div class="flex-25"></div>
                        {% endif %}
                    </div>
                </div>
                <div class="jobPost__content flex-25 jobPost__description__column">
                    <a class="hvr-icon-forward" href="{{ job_opening.url | prepend: base_url }}">Learn More</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
	
	<div class="jobPost">
		
			
		<div id="mc_embed_signup">
			<header>
				<h6>Don't miss the latest news</h6>
				<h3>Join Our Monthly Newsletter</h3>
			</header>
			<form action="https://acklenavenue.us1.list-manage.com/subscribe/post?u=efc1a5d601993744de7164a04&amp;id=8219ea662d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div id="mc_embed_signup_scroll">
				<label for="mce-EMAIL">Subscribe</label>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_efc1a5d601993744de7164a04_8219ea662d" tabindex="-1" value=""></div>
				<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				</div>
			</form>
		</div>
	</div>
</section>
