{% assign pathways = site.data.career-pathways.data %}


<section id="pathways">
    <div class="topRectangle">
        <h6>Career Pathways</h6>
    </div>

    <div class="bottomContainer">
        <div class="guilds">
            <h6>Guilds</h6>
            <hr class="solid" />

            <div class="pathwayContainer">
                {% for pathway in pathways %}
                    <div class="accordion">
                        <div class="contentBox">
                            <div class="accordion-label"><p>{{ pathway.name }}</p></div>

                            <div class="accordion-content">
                                
                                {% for level in pathway.levels %}

                                    <div class="pathwayRow">
                                        <div class="nameColumn">
                                            <div class="playButton" {% if level.type == 'Locked' %} style="background-color:  #4F4959;" {% endif %}>
                                                <img src="../img/{% if level.type == 'Open' %}Open{% else %}Locked{% endif %}Pathway.png" class="pathwayIcon" alt="">
                                            </div>
            
                                            <div class="pLabel">
                                                <p>{{ level.title }}</p>
                                            </div>
                                        </div>

                                        <div class="buttonColumn">
                                            <a href="" class="viewBtn"> View Pathway</a>
                                        </div>
                                        
                                    </div>

                                {% endfor %}

                            </div>
                        </div>

                        
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>
