<section id="testimonialSingle" >
	<div class="testimonial__contain--wide">
		<img class="rouded-img"  src="img/kerri-davis.jpg">
		<h3>Kerri Davis</h3>
		<h4 class="testimonial-founder">COO, Elmington Technologies</h4>
		<span class="quotesign">&#8220;</span>
		<p><em>Outsourcing your product is difficult, but in 90 days with Acklen, they felt like a true extension of our team.  And now, after two years together, I can't imagine working with a team with higher work ethic, more productivity, better knowledge or a more thoughtful, intentional and flexible structure, from which I have learned so much. 
		</em></p>
		<a class="hvr-icon-forward md-trigger" data-modal="modal-13" >Talk to us</a>
	</div>
</section>
