---
layout: acklen-subfolder
title: Hurdl Wearable Device Case Study  
description: "Hurdl was able to custom program their wearables (Pixl)but they were not able to conduct surveys of users or send configuration data from the cloud to the user. 
	Learn how we developed a custom solution."
---
<header class="page-header page-header--hurdl">
	{% include menu.html %}
	<h1>Hurdl</h1>
	<h2>Leveraging big data through tiny devices</h2>
	<h2>Nashville, TN</h2>
</header>
{% include hurdl-case-study.html %}
{% include ContactUs.html %}